<%= form_with(model: cliente) do |form| %>
  <% if cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
        <% cliente.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rut %>
    <%= form.text_field :rut, class:'form-control col-md-2' %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, class:'form-control col-md-2' %>
  </div>

  <div class="field">
    <%= form.label :apellido %>
    <%= form.text_field :apellido, class:'form-control col-md-2' %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, class:'form-control col-md-2' %>
  </div>

  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_field :direccion, class:'form-control col-md-2' %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit 'Crear cliente', class:'col-sm-2 btn btn-outline-info' %>
  </div>
<% end %>
