<% @total=0 %>
<h1>Ordenes de compra</h1>
<%= link_to 'Seguir comprando', productos_path, class: 'btn btn-sm btn-outline-info' %>
<br>
<br>
<table class='table-bordered col-sm' style='text-align:center'>
  <thead>
    <tr>
      <th class="table-info">Id</th>
      <th class="table-info">Rut</th>
      <th class="table-info">Email</th>
      <th class="table-info">Direccion</th>
      <th class="table-info">Detalle</th>
      <th class="table-info">Total</th>
      <th class="table-info"></th>
    </tr>
  </thead>

  <tbody>
    <% @orden_compras.each do |ordenes| %>
      <tr>
        <td><%= ordenes.id %></td>
        <td><%= ordenes.cliente.rut %></td>
        <td><%= ordenes.cliente.email %></td>
        <td><%= ordenes.direccion_despacho %></td>
        <td style='padding: 15px;'>
                    
            <table  class='table-bordered col-sm' >
              <thead>
                <tr>
                  <th class="table-info">Productos</th>
                  <th class="table-info">Precio</th>
                  <th class="table-info">Cantidad</th>
                  <th class="table-info">Total de Linea</th>
                </tr>
              </thead>
                 
              <tbody>
                <% @detalle_compras.select { |detalle| detalle.orden_compra_id == ordenes.id  }.each do |detalle| %>
                  <% @total = @total +  detalle.producto.precio.to_i %>
                  <tr>
                    <td><%= detalle.producto.titulo %></td>
                    <td>$ <%= detalle.producto.precio %></td>
                    <td><%= detalle.cantidad %></td>
                    <td>$ <%= detalle.cantidad * detalle.producto.precio %></td>
                  </tr>
                <% end %>

              </tbody>
            </table>        
        </td>
        <td>$ <%= ordenes.total %></td>
            </button></button></td>
      </tr>
    <% end %>
    <tr>
      <td colspan=4></td>
      <td>$ <%= @total %></td>
    <tr>
    </tbody>
</table>



