<div class="row justify-content-center">
    
        <div id="carouselExampleControls" class=" carousel slide w-75" data-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active">
            <%= image_tag 'morado.jpg' , class:"d-block w-100" %>
        </div>
        <div class="carousel-item">
            <%= image_tag 'naranjo.jpg' , class:"d-block w-100" %>
        </div>
        <div class="carousel-item">
        <%= image_tag 'celeste.jpg' , class:"d-block w-100" %>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </button>
    </div>
</div>
<br>

<div class="card-deck mt-5 mb-5">
  <div class="card text-center">
    <%= image_tag '1.jpg' , class:'card-img-top foto_manga mx-auto mt-4' %>
    <div class="card-body">
      <h5 class="card-title">Manga title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <%= link_to 'Ir a productos', productos_path, class: 'btn btn-sm btn-outline-info' %>
    </div>
  </div>
  <div class="card text-center">
    <%= image_tag '3.jpg' , class:'card-img-top foto_manga mx-auto mt-4' %>
    <div class="card-body">
      <h5 class="card-title">Manga title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <%= link_to 'Ir a productos', productos_path, class: 'btn btn-sm btn-outline-info' %>
    </div>
  </div>
  <div class="card text-center">
    <%= image_tag '2.jpg' , class:'card-img-top foto_manga mx-auto mt-4' %>
    <div class="card-body">
      <h5 class="card-title">Manga title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <%= link_to 'Ir a productos', productos_path, class: 'btn btn-sm btn-outline-info' %>
    </div>
  </div>
</div>
<br>   
</div>


