<h1 class="text-center">Resultado</h1>

<div class="row ">
  <div class="col-md-8 offset-2 ">
    <div class="container">
      <div class="row">
        <% @productos.each do |producto| %>
          <div class="col-md-3 mb-4">
            <div class="card">
              <img class="card-img-top" src="https://pm1.narvii.com/6758/0deb93f0209b8d4e8431cfa3ec2cf53af5cb1e3av2_hq.jpg" alt="<%= producto.titulo %>"/>
              <div class="card-block">
                <h5 class="card-title"><%= producto.titulo %></h5>
                <div class="card-text"> 
                  <div><%= producto.descripcion %></div>
                  <div>Genero <%= producto.genero_id %></div>
                  <div class="badge text-white bg-success">Stock <%= producto.total_stock %></div>                  
                  <div >Precio $<%= producto.precio %></div>
                </div>                
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>