<p id="notice"><%= notice %></p>

<h1>Productos</h1>
<br>
<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Stock</th>
      <th>Descripcion</th>
      <th>Precio</th>
      <th>Url</th>
      <th>Genero</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= producto.titulo %></td>
        <td><%= producto.total_stock %></td>
        <td><%= producto.descripcion %></td>
        <td><%= producto.precio %></td>
        <td><%= producto.url %></td>
        <td><%= producto.genero.nombre %></td>
        <td><%= link_to 'Show', producto %></td>
        <td><%= link_to 'Edit', edit_producto_path(producto) %></td>
        <td><%= link_to 'Destroy', producto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

    
  </tbody>
</table>


<div class="row">
  <div class="col-md-8 offset-2">
    <div class="container">
    <h1 class="text-center">Productos</h1>
      <div class="row">
        <% @productos.each do |producto| %>
          <div class="col-md-3 col-sm-6 mb-4">
            <div class="card">
              <%= image_tag producto.url , class:'card-img-top foto_manga' %>
              <div class="card-block">
                <h5 class="card-title "><%= producto.titulo %></h5>
                <div class="card-text"> 
                  <div><%= producto.descripcion %></div>
                  <div>Genero <%= producto.genero.nombre %></div>
                  <br>                 
                  <div>                        
                      Precio $<%= producto.precio %>
                      <span class="badge badge-info ml-2">Stock <%= producto.total_stock %></span> 
                  </div>
                  <br>
                  <div>
                      <%= link_to 'Show', producto, class: 'text-primary col-md-2' %> 
                      <%= link_to 'Edit', edit_producto_path(producto), class: 'text-primary col-md-2' %>
                      <%= link_to 'Destroy', producto, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-primary col-md-2' %>
                  </div>
                  <%= form_with scope: "productos", url: agregar_carro_path, method: :put do |form| %> 
                    <%= form.text_field :title , value:  producto.titulo %>
                    <%= form.text_field :price , value:  producto.precio %>
                    <%= form.text_field :count , value:  1 %>
                    <%= form.submit "Agregar" %>  
                  <% end %>
                  <br>
                </div>                
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<p>Carrito: <%= @productos_en_carro  %></p>
<br>
<%= link_to_prev_page  @productos, 'Página Anterior', class: 'text-info' %>
<%= link_to_next_page  @productos, 'Siguiente página', class: 'text-info' %>
<br>

<br>
<%= link_to 'Nuevo Producto', new_producto_path, class: 'text-info' %>
