<div class="row">
  <div class="col-md-8 offset-2">
    <div class="container">
      <h1 class="text-center">Productos</h1>
      <%= link_to 'Nuevo Producto', new_producto_path, class: 'btn btn-sm btn-outline-info' %>
      <br> <br>
      <div class="row">
        <% @productos.each do |producto| %>
          <div class="col-md-4 col-sm-6 mb-4">
            <div class="card" style='padding: 15px;'>
              <%= image_tag producto.url , class:'card-img-top foto_manga' %>
              <div class="card-block">
                <div>
                  <br>   
                  <h5 class="card-title "><%= producto.titulo %></h5>
                </div>
                <div class="card-text"> 
                  <div>
                    <div> <b>Descripcion:</b> <%= producto.descripcion %></div>
                    <div> <b>Genero:</b> <%= producto.genero.nombre %></div>
                   
                  </div>
                  <br>                 
                  <div  style='margin-left:-7px'>                        
                      <span class="badge badge-info ml-2">Precio $<%= producto.precio %></span>
                      <span class="badge badge-info ml-2">Stock <%= producto.total_stock %></span> 
                  </div>
                 
                  <br>
                  <div>
                    <%= form_with scope: "productos", url: agregar_carro_path, method: :put do |form| %> 
                      <%= form.hidden_field :id , value:  producto.id %>
                      <%= form.hidden_field :precio , value:  producto.precio %>
                      <%= form.hidden_field :titulo , value:  producto.titulo %>
                      <p>Cantidad :</p><%= form.text_field :cantidad , value:  1 , class:'form-control col-md-2'%>
                      <br><br>
                      <%= form.submit "Agregar" , class:'btn btn-sm btn-outline-info' %>  
                    <% end %>
                  </div>
                   <br>
                    <div style='font-size:11px'>
                        <%= link_to 'Detalle', producto, class: 'text-primary col-sm' %> 
                        <%= link_to 'Editar', edit_producto_path(producto), class: 'text-primary col-sm' %>
                        <%= link_to 'Eliminar', producto, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-primary col-sm' %>
                    </div>                                  
                  <br>
                </div>                
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <%= link_to_prev_page  @productos, 'Página Anterior', class: 'btn btn-sm btn-outline-info' %>
      <%= link_to_next_page  @productos, 'Siguiente página', class: 'btn btn-sm btn-outline-info' %>
      
      <br>

    </div>
  </div>
</div>


<div class="col-md-8 offset-2">
<br>
<table class='table table-bordered'>
<thead>
  <tr>
    <th colspan=5><h3>Carrito de Compras</h3></th>
  </tr>
  <tr>
    <th>Id</th>
    <th>Titulo</th>
    <th>Precio</th>
    <th>Cantidad</th>
    <th></th>
  </tr>
</thead>
<tbody>
  <% $productos_en_carro.each do |carro| %>
    <tr>
      <td><%= carro[:id] %></td>
      <td><%= carro[:titulo] %></td>
      <td><%= carro[:precio] %></td>       
      <td><%= carro[:cantidad] %></td>  
      <td>
      <%= form_with scope: "productos", url: eliminar_del_carro_path, method: :put do |form| %> 
          <%= form.hidden_field :id , value:  carro[:id] %>
          <%= form.submit "Eliminar" , class:'btn btn-sm btn-outline-info' %>  
      <% end %>
      </td>                
    </tr>
  <% end %>
  <tr>
    <th colspan=5>
    <% if current_user %>
      <%= form_with scope: "productos", url: mandar_carro_path, method: :put do |form| %> 
        <p>Direccion de Despacho :</p><%= form.text_field :despacho , value:  "Calle 123# Puente Alto, Santiago", class:'form-control' %>
        <br><br>
        <%= form.hidden_field :email , value: current_user.email %>
        <%= form.submit "Comprar", class: 'btn btn-sm btn-outline-info'  %>  
      <% end %>
       <% else %>
          <li><%= link_to 'Iniciar session', new_user_session_path %></li>
    <% end %>
    </th>
  </tr>
</tbody>
</table>
<br>

</div>