<p id="notice"><%= notice %></p>

<p>
  <strong>Genero:</strong>
  <%= @producto.genero_id %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @producto.titulo %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @producto.total_stock %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @producto.descripcion %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @producto.precio %>
</p>

<p>
  <strong>Imagen:</strong>
  <br>
  <%= image_tag @producto.url , class:'img-thumbnail w-25' %>
</p>


<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>
